<style>{% include 'snippets/luein-modal/luein-modal.css' %}</style>
<!-- The Modal -->
<div class="luein-modal-container flx">
    <!-- Modal content -->
    <div class="luein-modal-content w80">
        <!--Modal header-->
        <div class="luein-modal-header">
            <div class="luein-modal-header-text">
                Replace with head text
            </div>
            <span class="luein-modal-close">&times;</span>
        </div>

        <!--Modal body-->
        <div class="luein-modal-body">
            Replace with body content
        </div>
        <!--Modal footer-->
        <div class="luein-modal-footer">
            <!--            Use buttons as per need-->
            <button class="luein-modal-button submit">Submit</button>
            <button class="luein-modal-button cancel">Close</button>
        </div>
    </div>
</div>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>